.img_1 {
    
    position: relative;
    top: -30px;
    margin-left:1000px;
    margin-left: -15px;
}

.logo {
    position: relative;
    top: -850px;
    margin-left: 95px;
}


.navbar select {
    border-radius: 5px ;
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    font-size: 17px;
    position: relative;
    top: -894px;
    background: none;
    margin-left: 215px;
}


.navbar ul {
    display: flex;
    gap: 25px;
    font-family: sans-serif;
    font-size: 17px;
    margin-left: 650px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    position: relative;
    top: -940px;
    font-family: sans-serif;
}

.navbar a:hover {
    color: green;
}

.btn {
    border-radius: 50px;
    padding: 10px;
    width: 170px;
    height: 45px;
    border: 2px solid white;
    background-color: white;

}

.toggle-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;
  padding: 5px;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.toggle-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 25px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
}

.toggle-item.active {
  background-color: white;
  color: #373e47;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.toggle-item i {
  font-size: 18px;
}

.btn {
    position: relative;
    top: -940px;
}





.toggle-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 4px; 
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: fit-content;
}

.toggle-item {
    border: none; 
    background: transparent; 
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}


.toggle-item.active {
    background-color: white;
    color: #373e47;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.toggle-item:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.1);
}

.toggle-container {
    position: relative;
    top: -950px;
}


.menu-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  background: transparent; 
  border: 1.5px solid white; 
  border-radius: 50px; 
  padding: 8px 25px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.menu-icon span {
  display: block;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}

.menu-icon span:nth-child(1) { width: 12px; }
.menu-icon span:nth-child(2) { width: 18px; }
.menu-icon span:nth-child(3) { width: 10px; }

.menu-btn {
    position: relative;
    top: -950px;
}

.img2 {
    position: relative;
    top: -780px;
    margin-left: 50px;
}

.btn3 {
    width: 140px;
    height: 50px;
    padding: 12px 35px;
    border-radius: 50px;
    background-color: #333631; 
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -710px;
    cursor: pointer;
    margin-left: -370px;
}

.btn4 {

    padding: 12px 35px;
    border-radius: 50px;
    border: none;
    background-color: #e8f5e9;
    color: #00695c;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 50px;
    position: relative;
    top: -710px;
    margin-left: 5px;
}
.btn4:hover {
    background-color: #dcedc8;
}





@keyframes slideIn {
    from {
        transform: translateX(100%);
        
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero_section {
    scroll-behavior: smooth;
    position: relative;
    top: -400px;
    font-family: sans-serif;
    animation: slideIn 0.8s ease;
    
}





.hero_section2 {
    transition-delay: 0.2s;
}

.hero_section4 {
    transition-delay: 0.3s;
}

.p1 {
    font-size: 34px;
}

.btn5 {
  background-color: #086242; 
  color: white;
  padding: 20px 25px;
  border-radius: 50px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-left: 1111px;
  position: relative;
  top: -105px;
}

.p1 {
    margin-left: 80px;
    font-family: sans-serif
}

.p2 {
    font-size: 24px;
    color: #666666;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-left: 80px; 
    position: relative;
    top: -98px;
}

.ish {
    border-radius: 18px;
    margin-left: 80px;
    position: relative;
    top: -80px;
}

.titlre h1 {
    margin-left: 80px;
    position: relative;
    top: -80px;
}

.bozor h3 {
    font-size: 30px;
    margin-left: 80px;
    position: relative;
    top: -80px;
    color: #343a40;
}

.bozor h2 {
    font-size:  45px;
    color: #005a2c;
    margin-left: 80px;
    position: relative;
    top: -110px;
}


.tovar h3 {
    font-size: 30px;
    margin-left: 350px;
    position: relative;
    top: -239px;
    color: #343a40;
}

.tovar h2 {
    font-size:  45px;
    color: #005a2c;
    margin-left: 350px;
    position: relative;
    top: -273px;
}

.sku h3 {
    font-size: 30px;
    margin-left: 760px;
    position: relative;
    top: -393px;
    color: #343a40;
}

.sku h2 {
    font-size: 45px;
    margin-left: 760px;
    position: relative;
    top: -430px;
    color:#005a2c ;
}


.korxona h3 {
    font-size: 30px;
    margin-left: 1030px;
    position: relative;
    top: -552px;
    color: #343a40;
}


.korxona h2 {
    font-size: 45px;
    margin-left: 1030px;
    position: relative;
    top: -588px;
    color:#005a2c ;
}
.hero_section2 {
    position: relative;
    top: -900px;
}

.title4 h1  {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    margin-left: 85px;
    position: relative;
    top: -20px;
}

.div_1 {
    margin-left: 0px;
}

.img_divv2 {
    position: relative;
    top: -490px;
    margin-left: 450px;
}

.divv3 {
    position: relative;
    top: -1020px;
    margin-left: 980px;
}


.div_1 p {
    font-size: 20px;
    margin-left: 70px;
    font-family: sans-serif;
    color: #00695c;
}
.div_2 {
    margin-left: 40px;
}
.div_3 {
    margin-left: 50px;
}
.div_1 button {
    width: 345px;
    height: 44px;
    border-radius: 42px;
    margin-left: 50px;
    background-color: white;
    border: 2px solid silver;
    font-size: 18px;
    cursor: pointer;
}

.div_1 button:hover {
    transition: 0.3s;
    background-color: #009E4F;
    transform: scale(1.1 , 1.1)
}


.div_2 p {
    font-size: 20px;
    margin-left: 70px;
    font-family: sans-serif;
    margin-left: 470px;
    position: relative;
    top: -540px;
    color: #00695c;
}

.div_2 button {
    width: 350px;
    height: 44px;
    border-radius: 42px;
    margin-left: 50px;
    background-color: white;
    border: 2px solid silver;
    font-size: 18px;
    cursor: pointer;
    margin-left: 470px;
    position: relative;
    top: -515px;
}
.div_2 button:hover {
    transition: 0.3s;
    background-color: #009E4F;
    transform: scale(1.1 , 1.1)
}

.div_3 p {
    font-size: 20px;
    margin-left: 70px;
    font-family: sans-serif;
    margin-left: 975px;
    position: relative;
    top: -1050px;
    color: #00695c;
}

.div_3 button {
    width: 350px;
    height: 44px;
    border-radius: 42px;
    margin-left: 50px;
    background-color: white;
    border: 2px solid silver;
    font-size: 18px;
    cursor: pointer;
    margin-left: 980px;
    position: relative;
    top: -1020px;
}
.div_3 button:hover {
    transition: 0.3s;
    background-color: #009E4F;
    transform: scale(1.1 , 1.1)
}
.h12 {
    margin-left: 50px;
    font-family: sans-serif;
    position: relative;
    top: -20px;
}
.box_1 {
    width: 412px;
    height: 220px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #004d2c, #008f4c);
    margin-left: 50px;
}

.box_1 h1 {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    top: 25px;
    margin-left: 20px;
}


.box_1 button {
    width: 400px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 56px;
    color: white;
    border: none;
    position: relative;
    top:  60px;
    cursor: pointer;
}
.box_2 {
    width: 412px;
    height: 220px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #004d2c, #008f4c);
    margin-left: 540px;
    position: relative;
    top: -245px;
}

.box_2 h1 {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    top: 25px;
    margin-left: 20px;
}


.box_2 button {
    width: 400px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 56px;
    color: white;
    border: none;
    position: relative;
    top: -7 0px;
    cursor: pointer;
}

.box_3 {
    width: 412px;
    height: 220px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #004d2c, #008f4c);
    margin-left: 1020px;
    position: relative;
    top: -490px;
}

.box_3 h1 {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    top: 25px;
    margin-left: 20px;
}


.box_3 button {
    width: 400px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 56px;
    color: white;
    border: none;
    position: relative;
    top:  -20px;
    cursor: pointer;
}





.box_2 button {
    width: 400px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 56px;
    color: white;
    border: none;
    position: relative;
    top:  -20px;
}

.box_1_img {
    margin-left: 290px;
    position: relative;
    top: -70px;
}


.box_2_img {
    margin-left: 290px;
    position: relative;
    top: -70px;
}


.box_3_img{
    margin-left: 290px;
    position: relative;
    top: -70px;
}

.btn_box_1 {
    position: relative;
    top: -80px;
}


.hero_section4 {
    position: relative;
    top: -1790px;
}
 













.artel-footer {
    background-color: #1a1d20; 
    color: white;
    padding: 60px 80px 30px 80px;
    font-family: sans-serif;
    margin-top: 0; 
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px; 
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    top: 30px;
}

.footer-col a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.9;
}

.footer-col a:hover {
    opacity: 1;
    color: #009e4f;
}

.footer-logo-box img {
    width: 100px;
    background: #008f4c; 
    padding: 10px;
    border-radius: 8px;
}

.footer-logo-box p {
    font-size: 10px;
    margin-top: 5px;
    color: #adb5bd;
}

.social-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}




.contact-section h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.c-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pink-icon {
    color: #e83e8c; 
}

.footer-copy {
    border-top: 1px solid #2c3034;
    padding-top: 20px;
    font-size: 12px;
    color: #6c757d;
}




.social-links img {
   
    filter: brightness(0) invert(1);
   
}


.footer {
    position: relative;
    top: -2200px;
}